In [23]:
import pandas as pd
import vnquant.DataLoader as dl
import numpy_financial as npf

ERROR! Session/line number was not unique in database. History logging moved to new session 197

In [76]:
symbol_list = ['MSN','MCH','PET','DGW','PNJ','MWG']
start = '2021-01-01'
end = '2021-12-31'
loader = dl.DataLoader(symbol_list, start,end, data_source='VND', minimal=True)
data = loader.download()
close_data = data['close'].dropna()
close_data

2022-01-18 12:29:49,469 : INFO : data MSN from 2021-01-01 to 2021-12-31 have already cloned!
2022-01-18 12:29:49,697 : INFO : data MCH from 2021-01-01 to 2021-12-31 have already cloned!
2022-01-18 12:29:50,164 : INFO : data PET from 2021-01-01 to 2021-12-31 have already cloned!
2022-01-18 12:29:50,402 : INFO : data DGW from 2021-01-01 to 2021-12-31 have already cloned!
2022-01-18 12:29:50,612 : INFO : data PNJ from 2021-01-01 to 2021-12-31 have already cloned!
2022-01-18 12:29:50,848 : INFO : data MWG from 2021-01-01 to 2021-12-31 have already cloned!

Symbols       MSN    MCH    PET    DGW   PNJ    MWG
date
2021-01-04   88.9   94.5  16.35   85.3  81.7  120.6
2021-01-05   89.3   94.0  17.10   82.9  81.3  121.9
2021-01-06   88.3   94.5  17.00   82.5  81.2  121.3
2021-01-07   92.0   93.5  17.35   82.5  81.6  120.8
2021-01-08   93.1   97.0  17.40   81.9  82.4  121.8
...           ...    ...    ...    ...   ...    ...
2021-12-27  169.0  114.0  37.00  129.8  96.0  134.9
2021-12-28  171.5  112.6  36.50  129.0  95.6  135.8
2021-12-29  172.0  114.0  36.60  126.9  93.2  134.4
2021-12-30  171.5  112.9  37.30  124.2  92.5  134.3
2021-12-31  171.0  116.5  36.55  123.9  96.2  135.9

[250 rows x 6 columns]

In [77]:
data = pd.DataFrame(close_data)
data

Symbols       MSN    MCH    PET    DGW   PNJ    MWG
date
2021-01-04   88.9   94.5  16.35   85.3  81.7  120.6
2021-01-05   89.3   94.0  17.10   82.9  81.3  121.9
2021-01-06   88.3   94.5  17.00   82.5  81.2  121.3
2021-01-07   92.0   93.5  17.35   82.5  81.6  120.8
2021-01-08   93.1   97.0  17.40   81.9  82.4  121.8
...           ...    ...    ...    ...   ...    ...
2021-12-27  169.0  114.0  37.00  129.8  96.0  134.9
2021-12-28  171.5  112.6  36.50  129.0  95.6  135.8
2021-12-29  172.0  114.0  36.60  126.9  93.2  134.4
2021-12-30  171.5  112.9  37.30  124.2  92.5  134.3
2021-12-31  171.0  116.5  36.55  123.9  96.2  135.9

[250 rows x 6 columns]

In [78]:
initial_investment = -1000000000
MSN = data['MSN']
print(initial_investment)
cashflow = [initial_investment]
price =[]
for i in MSN:
    price.append(i)

print(cashflow)
print(price)

-1000000000
[-1000000000]
[88.9, 89.3, 88.3, 92.0, 93.1, 94.1, 94.0, 93.3, 92.3, 93.0, 95.1, 90.9, 90.9, 91.5, 93.3, 97.0, 95.5, 91.7, 85.3, 85.5, 82.0, 84.0, 88.9, 89.5, 89.6, 85.6, 88.7, 92.0, 95.1, 94.9, 94.6, 92.7, 91.0, 89.6, 90.3, 91.3, 90.9, 90.5, 88.4, 89.2, 87.4, 86.7, 87.0, 87.3, 87.3, 88.5, 88.0, 88.0, 89.7, 88.7, 88.1, 86.5, 85.1, 86.0, 85.9, 86.1, 88.5, 92.5, 92.3, 92.7, 93.0, 91.9, 93.8, 93.0, 92.1, 91.9, 94.2, 100.7, 100.0, 100.1, 107.1, 105.5, 98.2, 100.0, 95.0, 98.0, 99.0, 98.0, 95.9, 96.0, 95.6, 95.0, 101.6, 101.5, 104.0, 103.0, 108.1, 104.2, 105.1, 108.0, 113.6, 111.9, 112.0, 113.6, 113.6, 110.0, 112.5, 110.1, 107.0, 105.7, 105.0, 107.3, 104.5, 104.0, 104.5, 103.1, 106.0, 106.9, 106.5, 104.2, 103.0, 106.5, 108.7, 108.5, 106.8, 106.5, 106.4, 108.9, 108.5, 111.4, 113.5, 113.9, 111.6, 109.0, 116.0, 119.8, 116.9, 119.9, 115.0, 116.2, 115.0, 120.5, 119.4, 123.0, 122.0, 122.9, 119.0, 121.1, 125.5, 124.5, 127.7, 134.0, 136.2, 137.8, 136.0, 135.0, 134.5, 141.0, 138.5, 136.6, 134.0, 133.5, 133.5, 132.5, 134.5, 136.3, 133.8, 127.0, 128.5, 135.0, 134.0, 135.9, 132.6, 135.0, 133.3, 131.1, 129.8, 128.0, 131.0, 130.0, 130.6, 135.5, 144.9, 149.8, 146.0, 143.0, 143.5, 147.0, 145.0, 142.4, 135.0, 136.0, 141.0, 142.6, 140.0, 141.2, 141.2, 142.2, 141.7, 145.5, 147.0, 145.5, 143.1, 142.1, 141.0, 143.0, 141.0, 143.1, 140.2, 140.1, 140.4, 139.6, 146.8, 151.7, 150.9, 145.5, 145.5, 145.5, 147.9, 147.8, 152.0, 147.8, 147.7, 146.9, 149.6, 154.0, 152.0, 150.5, 148.0, 147.4, 149.9, 156.5, 157.0, 157.5, 157.5, 152.5, 149.2, 149.9, 152.0, 151.0, 151.0, 151.9, 151.1, 154.0, 153.7, 156.0, 157.0, 161.0, 160.0, 157.5, 162.0, 166.6, 170.0, 171.0, 171.0, 169.0, 171.5, 172.0, 171.5, 171.0]

In [79]:
number_of_stock = round(-initial_investment/ (price[0]* 1000),-2)
number_of_stock

11200.0

In [80]:
ROI = (price[-1]*number_of_stock-
       (price[0]*number_of_stock))/(number_of_stock*price[0])
ROI = round(ROI,2)
ROI = "{:.0%}".format(ROI)
print(ROI)

92%

In [81]:
def take_symbol(symbol):
    symbol_string = data[symbol]
    return symbol_string

In [82]:
take_symbol('PET')

date
2021-01-04    16.35
2021-01-05    17.10
2021-01-06    17.00
2021-01-07    17.35
2021-01-08    17.40
              ...
2021-12-27    37.00
2021-12-28    36.50
2021-12-29    36.60
2021-12-30    37.30
2021-12-31    36.55
Name: PET, Length: 250, dtype: float64

In [107]:
def calculate_ROI(symbol):
    symbol_string = data[symbol]
    price =[]
    for i in symbol_string:
        price.append(i)
    number_of_stock = round(-initial_investment/ (price[0]* 1000),-2)

    ROI = (price[-1]*number_of_stock-
           (price[0]*number_of_stock))/(number_of_stock*price[0])
    ROI = round(ROI,2)
    ROI = "{:.0%}".format(ROI)
    string = f'The ROI for {symbol} is: '
    final = string + ROI
    return  final

def calculate_IRR(symbol):
    symbol_string = data[symbol]
    price =[]
    cashflow = [-initial_investment]
    for i in symbol_string:
        price.append(i)
    number_of_stock = round(-initial_investment/ (price[0]* 1000),-2)
    year_end_value = price[-1] * number_of_stock *100
    cashflow.append(year_end_value)
    irr= npf.irr(cashflow)
    return cashflow, irr

In [108]:
for i in symbol_list:
    print(calculate_ROI(i))

The ROI for MSN is: 92%
The ROI for MCH is: 23%
The ROI for PET is: 124%
The ROI for DGW is: 45%
The ROI for PNJ is: 18%
The ROI for MWG is: 13%

In [109]:
calculate_IRR('MSN')

([1000000000, 191520000.0], nan)

In [110]:
symbol_string = data['MSN']
price =[]
cashflow = [-initial_investment]
for i in symbol_string:
    price.append(i)
number_of_stock = round(-initial_investment/ (price[0]* 1000),-2)
year_end_value = price[-1] * number_of_stock *100
cashflow.append(year_end_value)
irr= npf.irr(cashflow)

In [111]:
irr

nan