In [1]:
import pandas as pd

df = pd.read_csv('/Users/haquochung/OneDrive/OneDrive - RMIT University/Home/PyCharm/Vietnam quant/Data_collection/VN30 historical price').dropna()

In [2]:
df

,date,ACB,BID,BVH,CTG,FPT,GAS,GVR,HDB,HPG,...,STB,TCB,TPB,VCB,VHM,VIC,VJC,VNM,VPB,VRE
0,2018-06-04,42.00,30.50,94.9,27.95,47.25,92.3,8.80,43.00,60.00,...,12.55,102.40,29.50,59.3,117.9,120.0,170.3,175.0,49.20,45.6
1,2018-06-05,41.70,30.40,94.9,28.40,47.80,98.7,8.40,43.20,59.00,...,12.90,96.00,29.40,58.6,118.0,121.1,173.0,177.0,49.40,45.3
2,2018-06-06,43.30,31.80,95.1,28.95,48.50,102.9,8.40,43.20,60.80,...,13.30,92.00,28.90,59.1,120.0,124.1,174.6,175.0,49.45,45.3
3,2018-06-07,42.40,31.20,95.9,28.35,47.80,99.6,8.80,44.60,61.90,...,13.00,98.40,28.90,58.7,120.0,124.2,179.0,177.3,49.50,45.0
4,2018-06-08,43.10,31.50,95.9,28.55,47.95,97.5,8.40,43.40,61.30,...,12.90,105.20,28.65,59.7,120.0,124.2,179.0,177.0,51.80,44.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,2022-01-13,33.35,44.00,54.0,35.15,92.10,105.0,35.50,30.80,46.70,...,34.30,50.50,42.15,81.9,82.2,98.8,122.0,83.1,35.25,33.8
889,2022-01-14,33.05,44.25,54.2,35.45,91.30,105.5,35.70,30.60,46.25,...,35.00,49.75,41.90,83.4,82.2,98.9,122.0,84.7,34.85,34.4
890,2022-01-17,32.75,43.65,52.7,35.00,89.00,104.6,33.25,29.00,44.70,...,32.60,48.60,40.20,86.2,79.1,97.0,120.5,82.9,33.05,32.0
891,2022-01-18,32.80,44.90,51.6,34.55,88.10,107.0,31.10,29.55,44.00,...,33.90,48.75,38.90,87.6,77.0,95.9,124.5,83.4,33.25,32.4
892,2022-01-19,32.80,44.90,51.6,34.55,88.10,107.0,31.10,29.55,44.00,...,33.90,48.75,38.90,87.6,77.0,95.9,124.5,83.4,33.25,32.4